* {
	border: 0;
	padding: 0;
	margin: 0;
}
body, html {
	height: 100%;
	font-family: 'Oregano', cursive;
}
.layout {
	position: relative;
	background-image: url('assets/background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	display: flex;
	flex-flow: nowrap;
	align-items: center;
	justify-content: center;
	overflow: auto;
}
.poril {
	width: 25rem;
	height:25rem;
}
.card-contain {
	position: relative;
	width: 25rem;
	/*height: 15.63rem;*/
}
section {
	position: absolute;
	width: 25rem;
	height: 15.63rem;
	background-color: rgb(174, 173, 173);
	box-shadow: 5px 5px 12px rgb(30, 30, 30);
}
.card {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 2px;
	background-image: url('assets/csempe3.jpg');
	background-size: cover;
	background-position: center;
	width: 24.75rem;
	height: 15.5rem;
}
.box {
	position: absolute;
	z-index: 4;
	top: 0;
	left: 0;
	border-top: 10rem solid transparent;
	border-left: 12.5rem solid rgb(147, 147, 147);
	border-right: 12.5rem solid  rgb(147, 147, 147);
}
.contain {
	position: absolute;
	z-index: 3;
	top:0.0325rem;
	left:0;
	border-top: 10rem solid rgb(174, 173, 173);
	border-left: 12.5rem solid transparent;
	border-right: 12.5rem solid transparent;
	transition: transform 1500ms;
	-ms-transition: transform 1500ms;
	-webkit-transition: transform 1500ms;
	transform-origin: top;
}
.tarolo {
	position: absolute;
	z-index: 2;
  background-color:  rgb(147, 147, 147);
	width: 25rem;
	top: 10rem;
  height: 5.625rem;
}
.contact{
	width: 100%;
	margin:0 auto;
	text-align: center;
}
.contact a{
	display:inline-block;
	background-color: #727272;
	height:4rem; 
	width:4rem;
	font-size:200%;
	color:#02080f;
	border:0.0625rem solid #606060;
	border-radius:4rem;
	margin:4rem 0.5rem;
}
.contact a:hover {
	background-color: #02080f;
	color: #727272;
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.contact i {
  margin:1rem;
}
.btn-open, .btn-closed {
	position: absolute;
	z-index: 5;
	bottom: 1.25rem;
	left: 6.25rem;
	font-size:150%;
	letter-spacing:0.3125rem;
	padding:0.625rem;
	background-color:#b8b6ba;
	border-radius:0.625rem;
	cursor:pointer;
	color:#444645;
	font-weight: 900;
}
.btn-closed {
	bottom: 1.25rem;
	left: 5.313rem;
	display: none;
}
.btn {
	background-image: url('assets/csempe3.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 5px 5px 10px #606060;
}

/*============== MEDIA QUERY ==================*/

@media (max-width:480px) {

	.card-contain {
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		  -o-transform: scale(0.7);
			 transform: scale(0.7);
	}
}
@media (max-width:390px){
	.card-contain {
		margin-left: -4%;
	}
}
@media (max-width:359px){
	.card-contain {
		margin-left: -7%;
	}
}
@media (max-width:340px){
	.card-contain {
		margin-left: -9%;
	}
}
@media (max-width:330px){
	.card-contain {
		margin-left: -11%;
	}
}




